<div class="x-nav"> </div>

<div class="boxheader">
    <div class="Zcircle"></div>
    <div class="Zcircle"></div>
    <div class="Zcircle"></div>
</div>
<div class="portfolio"></div>
<div class="boxheader2">
    <div class="Zcircle"></div>
    <div class="Zcircle"></div>
    <div class="Zcircle"></div>
</div>

<div class="container mt-5">
    <div class="image_container" >
        <a class="bankappX" target="_blank" href="https://jjhay-bot.github.io/batch8-activities/Lecture11/Banking%20App%20+%20Budget%20App/">
            <div class="sidecontainer">
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="labelside">Bank App (User)</div>
            </div>            
            <div >
                <img class="img2" src="https://github.com/jjhay-bot/sample-project-ss-/blob/main/2021-08-02%2014_00_59-Search.png?raw=true" alt="">
                <img class="img2" src="https://github.com/jjhay-bot/sample-project-ss-/blob/main/2021-08-02%2014_08_59-Start.png?raw=true" alt="">
                <img class="img2" src="https://github.com/jjhay-bot/sample-project-ss-/blob/main/2021-08-02%2014_03_43-Start.png?raw=true" alt="">
            </div>
        </a>
        <a class="bankappX" href="https://jjhay-bot.github.io/batch8-activities/Lecture10/Banking%20App/index.html">
            <div class="sidecontainer">
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="labelside">Bank App (Admin)</div>
            </div> 
            <div >
                <img class="img2" src="https://github.com/jjhay-bot/sample-project-ss-/blob/main/2021-08-02%2014_04_47-Start.png?raw=true" alt="">
            </div>
        </a>
    </div>
</div>

<div class="container mt-5">
    <div class="image_container" >
        <a class="bankappX" href="https://jjhay-bot.github.io/batch8-activities/Final%20Project/">
            <div class="sidecontainer">
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="labelside">Sportify</div>
            </div>            
            <div >
                <img class="img2" src="https://github.com/jjhay-bot/sample-project-ss-/blob/main/2021-08-02%2014_14_21-Start.png?raw=true" alt="">
                <img class="img2" src="https://github.com/jjhay-bot/sample-project-ss-/blob/main/2021-08-02%2014_15_14-Start.png?raw=true" alt="">
                <img class="img2" src="https://github.com/jjhay-bot/sample-project-ss-/blob/main/2021-08-02%2014_16_15-Start.png?raw=true" alt="">
            </div>
        </a>
        <a class="bankappX" href="https://jjhay-bot.github.io/batch8-activities/Lecture%206/index.html">
            <div class="sidecontainer">
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="labelside">Product Landing Page</div>

            </div> 
            <div >
                <img class="img2" src="https://github.com/jjhay-bot/sample-project-ss-/blob/main/2021-08-02%2014_22_00-Start.png?raw=true" alt="">
            </div>
        </a>
    </div>
</div>

<div class="container mt-5">
    <div class="image_container" >
    
        <div class="bankappX" href="https://jjhay-bot.github.io/batch8-activities/Final%20Project/">
            <div class="sidecontainer">
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="labelside">React & Three Projects</div>
            </div>            
            <div class="otherX">
                <a href="https://great-quotes-3ee1a.web.app/quotes" target="_blank">React Quotes</a>
                <a href="https://react-meetup-nine.vercel.app/" target="_blank">React Meetups</a>
                <a href="https://jjhay-bot.github.io/bird/" target="_blank">3D Birds</a>
                <a href="https://jjhay-bot.github.io/sphere/" target="_blank">3D Animated Sphere</a>
                <a href="https://jjhay-bot.github.io/mywebpage/" target="_blank">3D Space- Future Portfolio</a>
            </div>
        </div>


        <div class="bankappX" href="https://jjhay-bot.github.io/batch8-activities/Final%20Project/">
            <div class="sidecontainer">
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="labelside">Ruby on Rails Projects</div>
            </div>   
            <div class="otherX">
                <a href="https://boiling-cove-91513.herokuapp.com/" target="_blank">Food Blog App</a>
                <a href="https://pokemon091721.herokuapp.com/" target="_blank">Pokemon App</a>
                <a href="https://journal-app01.herokuapp.com/users/sign_in" target="_blank">Journal App</a>
                <a href="https://fs-replica01.herokuapp.com/" target="_blank">Coding Courses - Front-End</a>
                <a href="https://j-trading.herokuapp.com" target="_blank">Stock trading App</a>
                <a href="https://immense-island-98479.herokuapp.com/" target="_blank">Travel App</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="image_container" >
    
        <div class="bankappX" href="https://jjhay-bot.github.io/batch8-activities/Final%20Project/">
            <div class="sidecontainer">
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="Zcircle"></div>
                <div class="labelside">Other Interesting Projects</div>
            </div>    

            <div class="otherX">            
                <a href="https://jjhay-bot.github.io/batch8-activities/Lecture9/index.html" target="_blank">Tic-Tac-Toe</a>
                <a href="https://jjhay-bot.github.io/batch8-activities/Lecture5/index.html" target="_blank">Chessboard Game</a>
                <a href="https://jjhay-bot.github.io/batch8-activities/Lecture7/index.html" target="_blank">Momentum App</a>
                <a href="https://jjhay-bot.github.io/batch8-activities/Lecture3/index.html" target="_blank">Survey Form</a>
                <a href="https://jjhay-bot.github.io/batch8-activities/Lecture2/index.html" target="_blank">HTML Email</a>
                <a href="https://jjhay-bot.github.io/Theme-switcher/#" target="_blank">Theme Switcher</a>
                <a href="https://jjhay-bot.github.io/playbuttonXphone-animation/" target="_blank">Play button animation</a>
            </div>
        </div>
    </div>
</div>

