<div class="x-nav"> </div>


<div class="main home d-flex align-items-center">
    <div class="container">
        <div class="d-flex justify-content-end" >
            <div class="mywork text-end">
                <h2 class="fs-1">Hello. My name is <span class="highlight ">Jhay Jhay Alcorcon</span> and I have creative ideas and build websites</h2>
            </div>
        </div>
        <div class="d-flex justify-content-end" >
            <div class="mywork2 text-end mt-2">
                <a class="btn right bg-dark text-light py-3 fs-5" href="#">View my Work</a>
            </div>
        </div>
    </div>
</div>
