<div class="container">
    <ul class="social_media">        
        <a href="https://www.linkedin.com/in/jhay-jhay-alcorcon-7b28a1141/" target="_blank" ><img alt="" class="linkedin"></a>
        <a href="https://github.com/jjhay-bot" target="_blank"><img alt="" class="github"></a>
        <a href="https://twitter.com/CJjdalcorcon" target="_blank"><img alt="" class="twitter"></a>
    </ul>
    <p class="social_media2">© 2021 Jhay Jhay Alcorcon</p> 
</div>
