<div class="nav-area">
    <header class="d-flex justify-content-around my-4" >
        <ul class="nav fs-5 ">
            <li class="nav-item mx-1">
                <%= link_to "Welcome", page_welcome_path , :class =>"nav-link text-dark" , :current_page=>"page" %>
            </li>
            <li class="nav-item  mx-1">
                <%= link_to "Portfolio", page_show_path , :class =>"nav-link text-dark" %>
            </li>
            <li class="nav-item  mx-1">
                <a class="nav-link text-dark" href="#">Blog</a>
            </li>
            <li class="nav-item  mx-1">
                <a class="nav-link text-dark" href="#">About</a>
            </li>
                <li class="nav-item  mx-1">
            <a class="nav-link text-dark" href="#">Contact</a>
            </li>
        </ul>
        <ul class="nav">
            <a class="navbar-brand fw-bold py-2 text-dark" aria-disabled="true" href="#">Jhay Jhay Alcorcon</a>
        </nav>
    </header>
</div>
